@page "/signin-details"
@model SFA.DAS.ApprenticeAccounts.Web.Pages.ChangeYourSignInDetailsModel
@{
    ViewData["Title"] = "Change your sign in details";
}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

    <p class="govuk-body">You use your GOV.UK One Login to sign in to My apprenticeship.</p>
    
    <p class="govuk-body">
        You can change these details in your GOV.UK One Login:
        <ul class="govuk-list govuk-list--bullet">
            <li>email address</li>
            <li>password</li>
            <li>how you get security codes to sign in </li>
        </ul>
    </p>
    
    <p class="govuk-body">
        <a class="govuk-link" href="https://home.account.gov.uk/settings">Change your sign in details in your GOV.UK One Login</a>
    </p>

</div>
</div>